
* {
  margin: 0px;
  padding: 0px;
  background-color: #fffffff5;
  align-items: center;
  text-align: center;
  color: rgb(10, 10, 10);
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Yellowtail&display=swap');

.container{
  margin: 5px;
  margin-top: 10px;
  height: 95vh;
}